.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  transition: all 250ms ease-out;
  position: relative;
}
.btn-white {
  background-color: #fff;
  color: $color-gray-dark;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 0 auto;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5rem 10rem rgba($color-black, 0.2);
}
.btn::after {
  content: '';
  /* background: #000; */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-out;
}
.btn-white::after {
  background-color: #fff;
  z-index: -1;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.4);
  opacity: 0;
}

.btn_animate {
  animation: animation_move_up 1s ease-out;
  animation-fill-mode: backwards;
}
