@keyframes animation_move_from_left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes animation_move_from_right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes animation_move_up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
