.row {
    
  width: $grid-width;
  background: red;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-verticle;
  }
  @include clearfix;
  .col-1of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    background: black;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1of-3 {
    width: calc((100% - #{$gutter-horizontal}) / 3);
    background: green;
    float: left;
    &:not(:last-child) {
      display: none;
    }
  }
}
